body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 17px;    
  }
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #316161;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #316161;
}
ul,
ol {
  list-style: disc;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: #fff;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #555;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 17px;    
  }
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #419CA6 0%, #9690F5 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #419CA6 0%, #9690F5 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #316161;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #316161;
}
.section-title {
  padding: 14vh 0 8vh;
  text-align: left;
  @media (orientation: portrait) and (max-width: 768px){
    padding: 120px 0 100px;
  }
}
.section-title-continue {
  padding: 0 !important;
}
.section-title-continue p{
  padding: 0 !important;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #419CA6 0%, #9690F5 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 3%;
}
@media (max-width: 768px) {
  .section-title h2::after {
    left: 30px !important;
  }
}
@media (min-width: 991px) {
  #about img {
    margin: 50px 0 0;
  }
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #316161;
  background-image: linear-gradient(to right, #419CA6 0%, #9690F5 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 24px 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #9690F5;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/intro-bg.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h2 {
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 40px;
  }
}
.intro h1 span {
  font-weight: 800;
  color: #316161;
}
.intro p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 20px;
  }
}
.div-card{
  background: none;
  margin: 0;
  border: none;
}
header .intro-text {
  padding-top: 200px;
  padding-bottom: 30px;
  align-self: center;
  text-align: left;
  @media (orientation: landscape) {
    padding-top: calc(10%);
    width: 100%;
    margin-left: 30px;
  }
  @media (max-width: 767px) {
    padding-top: calc(35%);
    padding-bottom: calc(5%);
    text-align: center;
  }
}
/* Features Section */
#features {
  background: #f6f6f6;
  overflow: auto;
  padding-bottom: 40px;
}
#features .section-title {
  padding: 12vh 0 4vh;
}
#features i::before {
  display: flex;
  width: 10px;
}
#features i {
  font-size: 38px;
  margin: 20px 0 10px;
  transition: all 0.5s;
  color: #fff;
  padding: 15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(to right, #419CA6 0%, #316161 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#features h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #419CA6 0%, #9690F5 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -26px;
}
/* About Section */
#about {
  padding: 12vh 0 10vh;
  @media (min-width: 991px) and (max-width: 1200px) {
    padding: 14vh 0 4vh;
  }
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-top: 30px;
}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #419CA6 0%, #9690F5 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}

#services h4{
  color: #fff;
  margin: 24px 0;
}

#features p {
  font-size: 15px;
  margin: 2vh 0;
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 17px;    
  }
}
#features h3 {
  margin: 0;
  padding-top: 20px !important;
}
#features ul {
  padding: 10px 0 20px;
}
.fullwidth{
  width: 100%;
}
#services .feature-text{
  @media (min-width: 1200px){
    margin: 0 10vh;
  }
}
#features .feature-text {
  padding: 0;
  margin: 0 16px;
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 16px;
  }
  align-self: center;
}

#features .feature-text p{
  margin: 30px 0;
}
#services .list-style{
  padding-bottom: 4vh !important;
}
#features .feature-text li {
  margin-left: 6px;
  list-style: none;
  color: #777;
  font-weight: 500;
  padding: 0;
  font-size: 15px;
  margin: 16px 0 8px;
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 17px;    
  }
}
#features .feature-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #316161;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 90%;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 70%; 
  }
}
#about p {
  line-height: 24px;
  margin: 30px 0;
  font-size: 15px;
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 17px;    
  }
}
/* Services Section */
#services {
  overflow: auto;
  color: #fff;
  background-color: #316161;
}
#services .service-desc {
  margin: 10px 10px 20px;
}
#services h2 {
  color: #fff;
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #419CA6 0%, #9690F5 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
}
#services i.fa{
  font-size: 42px;
  width: 100px;
  height: 100px;
  padding: 20px 0;
  background: linear-gradient(to right, #419CA6 0%, #316161 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}
#services p {
  color: rgba(255, 255, 255, 0.75);
  padding-bottom: 20px;
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 17px;    
  }
}
#services .section-title {
  padding: 14vh 0 30px;
  @media (min-width: 991px) and (max-width: 1200px) {
    padding: 12vh 0 4vh;
  }
}
#services .service-desc {
  margin-bottom: 40px;
}
/* Portfolio Section */
#portfolio {
  padding: 100px 0;
}
.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(to right, #419CA6 0%, #9690F5 100%);
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}
/* doubts Section */
#doubts {
  background: #F6F6F6;
}
@media (max-width: 768px){
  #doubts .section-title .container{
    padding-bottom: 100px;
  }
}

#accordion {
  padding: 5vh 0 0;
  @media (orientation: portrait) {
    padding: 12vh 0;
    @media (max-width: 768px){
      padding: 0.3vh 0;
    }
  }
}
#doubts i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
/* Team Section */
#team {
  padding: 100px 0;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 240px;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}
/* Contact Section */
#contact {
  /* padding: 100px 0 60px; */
  background: linear-gradient(to right, #419CA6 0%, #9690F5 100%);
  color: rgba(255, 255, 255, 0.75);
  height: 115%;
  /* padding: 12vh 0 10vh; */
  @media (max-width: 990px){
    padding-bottom: 0;
    margin-bottom: 0;
  }
  @media (min-width: 991px) and (max-width: 1200px) {
    padding: 14vh 0 4vh;
  }
}
#contact .section-title {
  margin-bottom: 0px;
  padding-bottom: 0;
}
#contact span {
  font-family: "Raleway", sans-serif;
}
#contact .section-title p {
  font-size: 20px;
}
#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
  @media (max-width: 768px) {
    left: 10% !important;
  }
}
#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}
#contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
#contact .content{
  display: grid;
  justify-items:center;
}
@media (max-width: 768px) {
  #contact .content{
    padding-top: 24px;
  }
}
@media (orientation: landscape) {
  #contact .contact-item p{
    width: 100%;
  }
}
#contact .contact-item {
  margin: 20px 0;
  text-align: center;
}
#contact .no-margin {
  margin: 0;
}
#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #316161;
  background: #fff;
}
#contact i.fa::before {
  font-size: larger;
}
/* Footer Section*/
#footer {
  background: #F6F6F6;
  padding: 30px 0;
}
#footer p {
  color: #888;
  font-size: 14px;
}
#footer a {
  color: #316161;
}
#footer a:hover {
  border-bottom: 2px solid #316161;
}
#fab-button .floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #25D366;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#fab-button .fa.fa-whatsapp{
  font-size: 50px;
  padding: 9px 2px 2px 3px;
}
#fab-button .floating-button:hover{
  background-color: #075E54;
}

#fab-button a{
  width: 70px;
  height: 70px;
  padding: 0;
}